/* Colors and fonts */
body {
  background: #F7F9FC;
  color: #285B92;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
h1, h2, a {
  font-family: 'Roboto', sans-serif;
  color: #285B92;
}
h1 {
  font-size: 32px;
  font-weight: 900;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: rgba(0, 0, 0, .8);
}

/* Custom design with class */
.container {
  width: 700px;
  margin: 20px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 40px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  border: 1px solid #285B92;
  background-color: white;
  color: #285B92;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  border: 1px solid transparent;
  background-color: rgba(40, 91, 146, .9);
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: rgba(40, 91, 146, .9);
}
.footer h2 {
  margin-bottom: 25px;
}
/* Design adjustments using id */
#introduction p {
  margin-bottom: 60px;
}
#introduction {
  padding-bottom: 70px;
}
#img-profile {
  margin: 10px;
}
